In [48]:
import pandas as pd
from IPython.display import HTML

mydict = [{'a':100, 'b':200}, {'a':'$\dfrac{1}{2}$\n $\dfrac{1}{2}$', 'b':"aces \n high"}]

df = pd.DataFrame.from_dict(mydict)

my_table = df.style

my_table.set_properties(**{
    'white-space': 'pre-wrap',
})

display(my_table)






# display( HTML( df.to_html().replace("\\n","<br>") ) )