In [1]:
import os
import utilities
from maths_objects import (
    Formulas, SiteHierarchies,MarkdownFile, DataSource, FrontMatter, 
    FormulaGroup, FormulaTable, PageTabs, StyledTable)
import pandas as pd
from collections import namedtuple

data_source = DataSource()
site_hierarchy = SiteHierarchies(data_source.site_hierarchies())
formulas_by_year = Formulas(data_source.formulas_by_year())
formulas_cumulative = Formulas(data_source.formulas_by_year_cumulative())

In [4]:
formulas_cumulative.to_dataframe()[['State', 'Subject', 'Category']].drop_duplicates()

    State        Subject               Category
0     NSW         Year 9                Indices
1     NSW    Year 11 Adv                Indices
2     NSW    Year 12 Adv                Indices
3     NSW  Year 12 Ext 1                Indices
36    NSW         Year 9                  Surds
37    NSW    Year 11 Adv                  Surds
38    NSW    Year 12 Adv                  Surds
39    NSW  Year 12 Ext 1                  Surds
45    NSW    Year 11 Adv             Logarithms
46    NSW    Year 12 Adv             Logarithms
47    NSW  Year 12 Ext 1             Logarithms
65    NSW    Year 11 Adv        Differentiation
66    NSW    Year 12 Adv        Differentiation
67    NSW  Year 12 Ext 1        Differentiation
98    NSW    Year 12 Adv            Integration
99    NSW  Year 12 Ext 1            Integration
178   NSW    Year 12 Adv             Statistics
179   NSW  Year 12 Ext 1             Statistics
206   NSW    Year 12 Adv  Financial mathematics
207   NSW  Year 12 Ext 1  Financial mathematics

In [2]:
from IPython.core.display import HTML
from IPython.core.display import Latex

index_formulas = formulas_by_year.filter_by_state_subject_category('NSW', 'Year 12 Ext 1', 'Differentiation')



df = FormulaTable(index_formulas)._to_dataframe()
tbl_style = StyledTable(df)

tbl_style.highlight_values_in_list(
    index_formulas.formula_sheet_items(), 
    columns_to_highlight=['Formula'])

display(tbl_style._raw())