In [1]:
import os
import utilities
from maths_objects import (
    Formulas, SiteHierarchies,MarkdownFile, DataSource, FrontMatter, 
    FormulaGroup, FormulaTable, PageTabs, StyledTable)
import pandas as pd
from collections import namedtuple

data_source = DataSource()
site_hierarchy = SiteHierarchies(data_source.site_hierarchies())
formulas_by_year = Formulas(data_source.formulas_by_year())

In [2]:
from IPython.core.display import HTML
from IPython.core.display import Latex

index_formulas = formulas_by_year.filter_by_state_subject_category('NSW', 'Year 12 Ext 1', 'Differentiation')



df = FormulaTable(index_formulas)._to_dataframe()
tbl_style = StyledTable(df)

tbl_style.highlight_values_in_list(
    index_formulas.formula_sheet_items().values, 
    columns_to_highlight=['Formula'])

display(tbl_style._raw())