In [1]:
import os
import utilities
from maths_objects import Formulas, DirectoryHierarchies

website_creator_dir = os.getcwd()
docs_dir = utilities.get_docs_path(website_creator_dir)
formula_file_path = website_creator_dir + os.path.sep + 'formulas.csv'
hierarchy_file_path = website_creator_dir + os.path.sep + 'site_hierarchy.csv'
syllabus_file_path = (website_creator_dir + os.path.sep +
                        'syllabus_topics.csv')

my_dirs = DirectoryHierarchies(hierarchy_file_path)
# school_formulas = Formulas(formula_file_path, syllabus_file_path,
#                            page_sort_orders)

In [6]:
my_dirs.get_sort_index(['NSW', 'Formulas', 'By year', 'Year 12 Ext 1'])

2

In [3]:

hierarchies_to_search = my_dirs.to_dataframe()
dir_to_find = ['NSW', 'Formulas', 'By year cumulative']
# dir_to_find_less_last_path = tuple(dir_to_find[:-1])

# Get unique hierarchies of the same length as hierarchy_to_find
hierarchies_to_search = hierarchies_to_search.iloc[:, :len(dir_to_find)]
hierarchies_to_search = hierarchies_to_search.drop_duplicates()

# Restrict hieararchy_to_search to paths equal to dir_to_find
# when the last path level is excluded
hierarchies_to_search =  hierarchies_to_search[
    hierarchies_to_search.apply(
        lambda x: tuple(x)[:-1], axis=1) == tuple(dir_to_find[:-1])
]
hierarchies_to_search = hierarchies_to_search.reset_index(drop=True)

# Filter hierarchies by dir_to_find and return first index
hierarchies_to_search = hierarchies_to_search[
    hierarchies_to_search.apply(tuple, axis=1) == tuple(dir_to_find)]
return_value = hierarchies_to_search.index[0]

display(return_value)

1

In [3]:
list_to_match = ['NSW', 'Topics']

df = my_dirs.to_dataframe()
df = df.iloc[:,:2]


def _slice_dataframe_by_row(input_df, row_to_match):
    """Slices a dataframe and returns a dataframe where each row of input_df
    equals row_to_match

    Args:
        input_df (pandas dataframe): Dataframe to slice
        row_to_match (iteratable): Items to match
    """
    input_df = input_df[
        input_df.apply(lambda x: tuple(x), axis=1) == tuple(row_to_match)]
    return input_df

    
display(_slice_dataframe_by_row(df, list_to_match))

  Level_0 Level_1
0     NSW  Topics
1     NSW  Topics
2     NSW  Topics
3     NSW  Topics
4     NSW  Topics
5     NSW  Topics
6     NSW  Topics
7     NSW  Topics
8     NSW  Topics
9     NSW  Topics

In [3]:
my_dirs.to_dataframe()

,Level_0,Level_1,Level_2,Level_3,Level_4,Level_5
0,NSW,Topics,By year,Year 9,Indices,NaN
1,NSW,Topics,By year,Year 11 Adv,Calculus,NaN
2,NSW,Topics,By year,Year 12 Adv,Financial mathematics,NaN
3,NSW,Topics,By year,Year 12 Adv,Calculus,NaN
4,NSW,Topics,By year cumulative,Year 9,Indices,NaN
5,NSW,Topics,By year cumulative,Year 11 Adv,Indices,NaN
6,NSW,Topics,By year cumulative,Year 11 Adv,Calculus,NaN
7,NSW,Topics,By year cumulative,Year 12 Adv,Indices,NaN
8,NSW,Topics,By year cumulative,Year 12 Adv,Financial mathematics,NaN
9,NSW,Topics,By year cumulative,Year 12 Adv,Calculus,NaN
10,NSW,Formulas,By year,Year 9,Surds,NaN
11,NSW,Formulas,By year,Year 9,Indices,NaN
12,NSW,Formulas,By year,Year 12 Adv,Summaries,Calculus
13,NSW,Formulas,By year,Year 12 Ext 1,Summaries,Calculus
14,NSW,Formulas,By year cumulative,Year 12 Adv,Surds,NaN
15,NSW,Formulas,By year cumulative,Year 12 Adv,Indices,NaN
16,NSW,Formulas,By year cumulative,Year 12 Adv,Logarithms,NaN
17,NSW,Formulas,By year cumulative,Year 12 Adv,Statistics,NaN
18,NSW,Formulas,By year cumulative,Year 12 Adv,Differentiation,NaN
19,NSW,Formulas,By year cumulative,Year 12 Adv,Integration,NaN
20,NSW,Formulas,By year cumulative,Year 12 Adv,Summaries,Calculus
21,NSW,Formulas,By year cumulative,Year 12 Ext 1,Surds,NaN
22,NSW,Formulas,By year cumulative,Year 12 Ext 1,Indices,NaN
23,NSW,Formulas,By year cumulative,Year 12 Ext 1,Logarithms,NaN
24,NSW,Formulas,By year cumulative,Year 12 Ext 1,Statistics,NaN
25,NSW,Formulas,By year cumulative,Year 12 Ext 1,Differentiation,NaN
26,NSW,Formulas,By year cumulative,Year 12 Ext 1,Integration,NaN
27,NSW,Formulas,By year cumulative,Year 12 Ext 1,Summaries,Calculus

In [34]:

# Incorporate below in index file creation to make it clearer how levels are 
# iterated.  Can I improve further by creating an iterator.  In the 
# Web page hierarchy class?

dir_levels = school_formulas.by_year_dirs()
current_dir_levels = dir_levels
for column in reversed(dir_levels.columns):
    display(current_dir_levels)
    current_dir_levels = current_dir_levels.drop(columns=column)

   State Formula subcategory 1 Formula subcategory 2        Subject
0    NSW              Formulas               By Year         Year 9
9    NSW              Formulas               By Year    Year 11 Adv
21   NSW              Formulas               By Year    Year 12 Adv
42   NSW              Formulas               By Year  Year 12 Ext 1

   State Formula subcategory 1 Formula subcategory 2
0    NSW              Formulas               By Year
9    NSW              Formulas               By Year
21   NSW              Formulas               By Year
42   NSW              Formulas               By Year

   State Formula subcategory 1
0    NSW              Formulas
9    NSW              Formulas
21   NSW              Formulas
42   NSW              Formulas

   State
0    NSW
9    NSW
21   NSW
42   NSW

In [7]:
def create_index_files(base_dir, dir_levels,site_hierarchies,  
                       front_matter=None):
    """Creates _index.md files recursively at each level of the directory
    structures formed by joining base_dir string and each element of 
    dir_levels.  The content of each file is set based  on the content
    of the front_matter dictionary and optionally includes a weight
    (sort order) as stored in site_hierarhcies.

    Args:
        base_dir (string): The base direcory that together with dir_levels
            represent the directories where the _index files
            are created
        dir_levels (dataframe): The various directory levels that are joined
            to base_dir
        site_hierarchies (WebPageHierarhies): Object storing the web page 
            hierarchies and sort order
                        
        front_matter (dictionary, optional): Optional front matter text to be
            stored in the _index.md files.
            Defaults to None.
    """ 
    if front_matter is None:
        front_matter = {}
    for i in range(1, len(dir_levels.columns)+1):
        # Looping through various levels in directory structure
        subdirs_df = dir_levels.iloc[:, :i].drop_duplicates()
        for _, row in subdirs_df.iterrows():
            file_name = (base_dir + os.path.sep +
                         os.path.sep.join(row) + os.path.sep + '_index.md')
            if not os.path.isfile(file_name):
                # Don't overwrite file if it exists
                # Use a copy on each loop to start fresh and not
                # carry over any details from previos loop
                front_matter_to_write = front_matter.copy()
                if sort_orders_df is not None:
                    sort_order = lookup_list_in_df(
                        sort_orders_df, list(row.values))
                    if sort_order is not None:
                        front_matter_to_write['weight'] = sort_order + 1
                string_to_write = get_front_matter_string(
                    front_matter_to_write)
                with open(file_name, "w", encoding="utf-8") as text_file:
                    text_file.write(string_to_write)

1