In [2]:
import os
import utilities
from maths_objects import (
    Formulas, SiteHierarchies, DataSource, FrontMatter, 
    FormulaGroup, FormulaTable, PageTabs)
import pandas as pd
from collections import namedtuple

data_source = DataSource()
site_hierarchy = SiteHierarchies(data_source.site_hierarchies())
formulas_by_year = Formulas(data_source.formulas_by_year())
formulas_cumulative = Formulas(data_source.formulas_by_year_cumulative())

In [6]:
# More generic group by and filter.  Use to replace the state, subject category
# filter mechanism currently in the Formulas class.

_formula_data = formulas_by_year.to_dataframe()


def _unique_fields_by_col(_formula_data, columns):
    """Returns generator containing named tuples of unique combinations 
    of columns"""
    return _formula_data[columns].drop_duplicates().itertuples(index=False)


def group_by_column_values(_formula_data, columns):
    """Returns a generator of formulas grouped by unique values
     per column parameter"""
    unique_fields = _unique_fields_by_col(_formula_data, columns)
    for current_group in unique_fields:
        mask = _formula_data[group_by_cols].apply(func=tuple, axis = 'columns') ==current_group
        yield _formula_data[mask]


group_by_cols = ['State', 'Subject', 'Category']
# group_by_cols = ['Subject']


for group in group_by_column_values(_formula_data, group_by_cols):
    display (group)

,State,Subject,Syllabus topic,Syllabus subtopic code,Syllabus subtopic,Category,Subcategory_1,Subcategory_2,Description,Group,Formula,On formula sheet,Proof required,Comment
0,NSW,Year 9,TBA,TBA,TBA,Indices,Index Laws,NaN,Multiplying terms with same base,NaN,$a^m \times a^n = a^{m+n}$,False,False,NaN
1,NSW,Year 9,TBA,TBA,TBA,Indices,Index Laws,NaN,Dividing terms with same base,NaN,$a^m \div a^n = \dfrac{a^m}{a^n} = a^{m-n}$,False,False,NaN
2,NSW,Year 9,TBA,TBA,TBA,Indices,Index Laws,NaN,Power of a power,NaN,$(a^m)^n = a^{m \times n}$,False,False,NaN
3,NSW,Year 9,TBA,TBA,TBA,Indices,Index Laws,NaN,Powers of products,NaN,$(ab)^n = a^nb^n$,False,False,NaN
4,NSW,Year 9,TBA,TBA,TBA,Indices,Index Laws,NaN,Powers of quotients,NaN,$\left(\dfrac{a}{b}\right)^n = \dfrac{a^n}{b^n}$,False,False,NaN
5,NSW,Year 9,TBA,TBA,TBA,Indices,Index Laws,NaN,Power of zero,NaN,$a^0=1$,False,False,NaN
6,NSW,Year 9,TBA,TBA,TBA,Indices,Index Laws,NaN,Negative powers,NaN,$a^{-n}=\dfrac{1}{a^n}$,False,False,NaN
7,NSW,Year 9,TBA,TBA,TBA,Indices,Index Laws,NaN,Negative powers of quotients,NaN,$\left(\dfrac{a}{b}\right)^{-n} = \left(\dfrac...,False,False,NaN
8,NSW,Year 9,TBA,TBA,TBA,Indices,Index Laws,NaN,Fractional powers,NaN,$a^{\frac{m}{n}} =\sqrt[n]{a^m}$,False,False,NaN

,State,Subject,Syllabus topic,Syllabus subtopic code,Syllabus subtopic,Category,Subcategory_1,Subcategory_2,Description,Group,Formula,On formula sheet,Proof required,Comment
9,NSW,Year 11 Adv,TBA,TBA,TBA,Logarithms,Logarithm Laws,NaN,NaN,NaN,$\log_a{(xy)} = \log_a{x} + log_a{y}$,False,False,NaN
10,NSW,Year 11 Adv,TBA,TBA,TBA,Logarithms,Logarithm Laws,NaN,NaN,NaN,$\log_a{\left(\dfrac{x}{y}\right)} = \log_a{x}...,False,False,NaN
11,NSW,Year 11 Adv,TBA,TBA,TBA,Logarithms,Logarithm Laws,NaN,NaN,NaN,$\log_a{x^n} = n\log_a{x}$,False,False,NaN
12,NSW,Year 11 Adv,TBA,TBA,TBA,Logarithms,Logarithm Laws,NaN,NaN,NaN,$\log_a{\left(\dfrac{1}{x}\right)} = -\log_a{x}$,False,False,NaN
13,NSW,Year 11 Adv,TBA,TBA,TBA,Logarithms,Logarithm Laws,NaN,NaN,NaN,$\log_a{x} = \dfrac{\log_b{x}}{\log_b{a}}$,False,False,NaN

,State,Subject,Syllabus topic,Syllabus subtopic code,Syllabus subtopic,Category,Subcategory_1,Subcategory_2,Description,Group,Formula,On formula sheet,Proof required,Comment
14,NSW,Year 11 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,1.0,"$ y=f(x) \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\...",False,False,NaN
15,NSW,Year 11 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,2.0,"$ y=kx \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\...",False,False,NaN
16,NSW,Year 11 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,3.0,"$ y=k \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,...",False,False,NaN
17,NSW,Year 11 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,4.0,"$ y=x^n \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,...",False,False,NaN
18,NSW,Year 11 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,5.0,"$ y=kx^n \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\...",False,False,NaN
19,NSW,Year 11 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,6.0,"$ y=kf(x) \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,...",False,False,NaN
20,NSW,Year 11 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,7.0,"$ y=f(x) + g(x) \,\,\,\,\,\,\,\,\,\,\,\,\,\,...",False,False,NaN

,State,Subject,Syllabus topic,Syllabus subtopic code,Syllabus subtopic,Category,Subcategory_1,Subcategory_2,Description,Group,Formula,On formula sheet,Proof required,Comment
21,NSW,Year 12 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,8.0,"$y=f(x)^n \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,...",True,False,NaN
23,NSW,Year 12 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,9.0,"$y=uv \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,...",True,False,NaN
25,NSW,Year 12 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,10.0,"$y=\dfrac{u}{v} \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,...",True,False,NaN
26,NSW,Year 12 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,11.0,"$y=g(u) \text { where } u = f(x) \,\,\,\,\,\,\...",True,False,NaN
28,NSW,Year 12 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,13.0,"$y=sinf(x) \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\...",True,False,NaN
30,NSW,Year 12 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,14.0,"$y=cosf(x) \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\...",True,False,NaN
32,NSW,Year 12 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,15.0,"$y=tan f(x) \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,...",True,False,NaN
34,NSW,Year 12 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,16.0,"$y=e^{f(x)} \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,...",True,False,NaN
36,NSW,Year 12 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,17.0,"$y=\ln f(x) \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,...",True,False,NaN
38,NSW,Year 12 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,18.0,"$y=a^{f(x)} \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,...",True,False,NaN
40,NSW,Year 12 Adv,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,19.0,"$y=log _{a} f(x) \,\,\,\,\,\,\,\,\,\,\,\,\,\,\...",True,False,NaN

,State,Subject,Syllabus topic,Syllabus subtopic code,Syllabus subtopic,Category,Subcategory_1,Subcategory_2,Description,Group,Formula,On formula sheet,Proof required,Comment
22,NSW,Year 12 Adv,TBA,TBA,TBA,Integration,NaN,NaN,NaN,8.0,$ {\Large\int} f'(x)[f(x)]^n dx = \dfrac{1}{n+...,True,False,When n = -1 follow the integration rules for ...
24,NSW,Year 12 Adv,TBA,TBA,TBA,Integration,NaN,NaN,NaN,9.0,$ {\Large\int} u \dfrac{dv}{dx} dx=uv-{\Large\...,True,False,NaN
27,NSW,Year 12 Adv,TBA,TBA,TBA,Integration,NaN,NaN,NaN,12.0,$ {\Large\int_{a}^{b}} f(x) dx \approx \dfrac{...,True,False,NaN
29,NSW,Year 12 Adv,TBA,TBA,TBA,Integration,NaN,NaN,NaN,13.0,$ {\Large\int} f'(x)cosf(x)dx = sin f(x) + c$,True,False,NaN
31,NSW,Year 12 Adv,TBA,TBA,TBA,Integration,NaN,NaN,NaN,14.0,$ {\Large\int} f'(x)sin f(x)dx = -cos f(x) + c$,True,False,NaN
33,NSW,Year 12 Adv,TBA,TBA,TBA,Integration,NaN,NaN,NaN,15.0,$ {\Large\int} f'(x)sec^2 f(x)dx = tan f(x) + c$,True,False,NaN
35,NSW,Year 12 Adv,TBA,TBA,TBA,Integration,NaN,NaN,NaN,16.0,$ {\Large\int} f'(x)e^{f(x)}dx = e^{f(x)} + c$,True,False,NaN
37,NSW,Year 12 Adv,TBA,TBA,TBA,Integration,NaN,NaN,NaN,17.0,$ {\Large\int} \dfrac{f'(x)}{f(x)}dx = \ln|f(x...,True,False,Why absolute value?
39,NSW,Year 12 Adv,TBA,TBA,TBA,Integration,NaN,NaN,NaN,18.0,$ {\Large\int} f'(x)a^{f(x)}dx = \dfrac{a^f(x)...,True,False,ln a is a constant therefore can be removed fr...
41,NSW,Year 12 Adv,TBA,TBA,TBA,Integration,NaN,NaN,NaN,19.0,$ {\Large\int} \dfrac{f'(x)}{(\ln a) f(x)} = \...,False,False,"Is this integral expression correct, in partic..."

,State,Subject,Syllabus topic,Syllabus subtopic code,Syllabus subtopic,Category,Subcategory_1,Subcategory_2,Description,Group,Formula,On formula sheet,Proof required,Comment
42,NSW,Year 12 Ext 1,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,20.0,"$y=sin^{-1}f(x) \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,...",True,False,NaN
44,NSW,Year 12 Ext 1,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,21.0,"$ y = sin^{-1} \dfrac{f(x)}{a} \,\,\,\,\,\,\,...",False,False,NaN
46,NSW,Year 12 Ext 1,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,22.0,"$y=cos^{-1}f(x) \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,...",True,False,NaN
48,NSW,Year 12 Ext 1,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,23.0,"$y=cos^{-1} \dfrac{f(x)}{a} \,\,\,\,\,\,\,\,\,...",False,False,NaN
50,NSW,Year 12 Ext 1,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,24.0,"$y=tan^{-1}f(x) \,\,\,\,\,\,\,\,\,\,\,\,\,\,\,...",True,False,NaN
52,NSW,Year 12 Ext 1,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,25.0,"$y=tan^{-1}\dfrac{f(x)}{a} \,\,\,\,\,\,\,\,\,\...",False,False,NaN
54,NSW,Year 12 Ext 1,TBA,TBA,TBA,Differentiation,NaN,NaN,NaN,26.0,"$ \text{Function and its inverse} \,\,\,\,\,\...",False,False,Formula can be utilised to calculate otherwise...

,State,Subject,Syllabus topic,Syllabus subtopic code,Syllabus subtopic,Category,Subcategory_1,Subcategory_2,Description,Group,Formula,On formula sheet,Proof required,Comment
43,NSW,Year 12 Ext 1,TBA,TBA,TBA,Integration,NaN,NaN,NaN,20.0,$ {\Large\int} \dfrac{f'(x)} {\sqrt {1 - (f(x)...,False,False,NaN
45,NSW,Year 12 Ext 1,TBA,TBA,TBA,Integration,NaN,NaN,NaN,21.0,$ {\Large\int} \dfrac{f'(x)} {\sqrt {a^2 - (f(...,True,False,NaN
47,NSW,Year 12 Ext 1,TBA,TBA,TBA,Integration,NaN,NaN,NaN,22.0,$ {\Large\int} - \dfrac{f'(x)} {\sqrt {1 - (f(...,False,False,NaN
49,NSW,Year 12 Ext 1,TBA,TBA,TBA,Integration,NaN,NaN,NaN,23.0,$ {\Large\int} - \dfrac{f'(x)} {\sqrt {a^2 - (...,False,False,NaN
51,NSW,Year 12 Ext 1,TBA,TBA,TBA,Integration,NaN,NaN,NaN,24.0,$ {\Large\int} \dfrac{f'(x)} {1 + (f(x))^2} dx...,False,False,NaN
53,NSW,Year 12 Ext 1,TBA,TBA,TBA,Integration,NaN,NaN,NaN,25.0,$ {\Large\int} \dfrac{f'(x)} {a^2 + (f(x))^2} ...,True,False,NaN

,State,Subject,Syllabus topic,Syllabus subtopic code,Syllabus subtopic,Category,Subcategory_1,Subcategory_2,Description,Group,Formula,On formula sheet,Proof required,Comment
55,NSW,Year 12 Adv,TBA,TBA,TBA,Statistics,NaN,NaN,NaN,NaN,$ \text{Mean} = \dfrac{\text{Sum of scores}}{\...,False,False,NaN
56,NSW,Year 12 Adv,TBA,TBA,TBA,Statistics,NaN,NaN,NaN,NaN,$ \text{The median of n scores is the } \dfrac...,False,False,NaN
57,NSW,Year 12 Adv,TBA,TBA,TBA,Statistics,NaN,NaN,NaN,NaN,$ \text{Range = highest score - lowest score} $,False,False,NaN
58,NSW,Year 12 Adv,TBA,TBA,TBA,Statistics,NaN,NaN,NaN,NaN,$ \text{Interquartile range = Q3 - Q1} $,False,False,NaN
59,NSW,Year 12 Adv,TBA,TBA,TBA,Statistics,NaN,NaN,NaN,NaN,$\text{An outlier is a score with} $\n$ \text ...,True,False,NaN
60,NSW,Year 12 Adv,TBA,TBA,TBA,Statistics,NaN,NaN,NaN,NaN,$ \text{Variance } = \sigma^2 = \dfrac{\sum(x...,False,False,NaN
61,NSW,Year 12 Adv,TBA,TBA,TBA,Statistics,NaN,NaN,NaN,NaN,$ \text{Standard deviation } = \sqrt{\text{var...,False,False,NaN

,State,Subject,Syllabus topic,Syllabus subtopic code,Syllabus subtopic,Category,Subcategory_1,Subcategory_2,Description,Group,Formula,On formula sheet,Proof required,Comment
62,NSW,Year 9,TBA,TBA,TBA,Surds,NaN,NaN,NaN,NaN,$ \sqrt{xy} = \sqrt{x} \times \sqrt{y} $,False,False,NaN
63,NSW,Year 9,TBA,TBA,TBA,Surds,NaN,NaN,NaN,NaN,$ \sqrt{\dfrac{x}{y}} = \dfrac{\sqrt{x}}{\sqrt...,False,False,NaN

,State,Subject,Syllabus topic,Syllabus subtopic code,Syllabus subtopic,Category,Subcategory_1,Subcategory_2,Description,Group,Formula,On formula sheet,Proof required,Comment
64,NSW,Year 12 Adv,Financial Mathematics,MA-M1,Modelling Financial Situations,Financial mathematics,NaN,NaN,Compounding interest,NaN,$A = P(1+r)^n$,True,False,NaN
65,NSW,Year 12 Adv,Financial Mathematics,MA-M1,Modelling Financial Situations,Financial mathematics,Arithmetic sequence,Recursive definition,Recursive definition of an arithmetic sequence,NaN,$ T_n = T_{n-1} + d $,False,False,NaN
66,NSW,Year 12 Adv,Financial Mathematics,MA-M1,Modelling Financial Situations,Financial mathematics,Arithmetic sequence,n-th term,n-th term of an arithmetic sequence,NaN,$T_n = a + (n-1)d$,True,True,NaN
67,NSW,Year 12 Adv,Financial Mathematics,MA-M1,Modelling Financial Situations,Financial mathematics,Arithmetic sequence,Sum of first n terms,Sum of the first n terms of an arithmetic sequ...,NaN,$S_n = \dfrac{n}{2}[2a + (n-1)d] = \dfrac{n}{2...,True,True,NaN
68,NSW,Year 12 Adv,Financial Mathematics,MA-M1,Modelling Financial Situations,Financial mathematics,Geometric sequence,Recursive definition,Recursive definition of a geometric sequence,NaN,$T_n = rT_{n-1}$,False,False,NaN
69,NSW,Year 12 Adv,Financial Mathematics,MA-M1,Modelling Financial Situations,Financial mathematics,Geometric sequence,n-th term,n-th term of a geometric sequence,NaN,$T_n = ar^{n-1}$,True,True,NaN
70,NSW,Year 12 Adv,Financial Mathematics,MA-M1,Modelling Financial Situations,Financial mathematics,Geometric sequence,Sum of first n terms,Sum of the first n terms of a geometric sequence,NaN,$S_n = \dfrac{a(1-r^n)}{1-r} = \dfrac{a(r^n-1)...,True,True,NaN
71,NSW,Year 12 Adv,Financial Mathematics,MA-M1,Modelling Financial Situations,Financial mathematics,Geometric sequence,Limiting sum,Limiting sum of a geometric sequence,NaN,"$S=\dfrac{a}{1-r},\ \ |r|<1$",True,True,NaN