In [1]:
import os
import utilities
from maths_objects import Formulas, DirectoryHierarchies, IndexFile, DataSource
import pandas as pd

# website_creator_dir = os.getcwd()
# docs_dir = utilities.get_docs_path(website_creator_dir)
# formula_file_path = website_creator_dir + os.path.sep + 'formulas.csv'
# hierarchy_file_path = website_creator_dir + os.path.sep + 'site_hierarchy.csv'
# syllabus_file_path = (website_creator_dir + os.path.sep +
#                         'syllabus_topics.csv')

# my_dirs = DirectoryHierarchies(hierarchy_file_path)
# # school_formulas = Formulas(formula_file_path, syllabus_file_path,
# #                            page_sort_orders)

# def get_formula_data():
#     """Returns dataframe of formulas and related fields by merging
#     formulas (ex-syllabus) and syllabus files
#     """

#     # ! Temporarily mark empty boolean fields as false to avoid type errors
#     # ! Remove once all data capture is complete
#     input_converter = {
#         'On formula sheet': lambda x: True if x else False,
#         'Proof required': lambda x: True if x else False}

#     formulas_ex_syllabus = pd.read_csv(
#         filepath_or_buffer=formula_file_path,
#         converters=input_converter)
#     syllabus = pd.read_csv(syllabus_file_path)
#     formulas = pd.merge(
#         left=syllabus, right=formulas_ex_syllabus,
#         left_on=['State', 'Subject', 'Syllabus subtopic code'],
#         right_on=['State', 'Subject', 'Syllabus subtopic code'],
#         how='right')
#     return (formulas)

In [3]:
data_sources = DataSource()

my_dirs = DirectoryHierarchies(data_sources.site_hierarchies())
display (my_dirs.to_dataframe())

,Level_0,Level_1,Level_2,Level_3,Level_4,Level_5
0,NSW,Topics,By year,Year 9,Indices,NaN
1,NSW,Topics,By year,Year 11 Adv,Calculus,NaN
2,NSW,Topics,By year,Year 12 Adv,Financial mathematics,NaN
3,NSW,Topics,By year,Year 12 Adv,Calculus,NaN
4,NSW,Topics,By year cumulative,Year 9,Indices,NaN
5,NSW,Topics,By year cumulative,Year 11 Adv,Indices,NaN
6,NSW,Topics,By year cumulative,Year 11 Adv,Calculus,NaN
7,NSW,Topics,By year cumulative,Year 12 Adv,Indices,NaN
8,NSW,Topics,By year cumulative,Year 12 Adv,Financial mathematics,NaN
9,NSW,Topics,By year cumulative,Year 12 Adv,Calculus,NaN
10,NSW,Formulas,By year,Year 9,Surds,NaN
11,NSW,Formulas,By year,Year 9,Indices,NaN
12,NSW,Formulas,By year,Year 12 Adv,Summaries,Calculus
13,NSW,Formulas,By year,Year 12 Ext 1,Summaries,Calculus
14,NSW,Formulas,By year cumulative,Year 12 Adv,Surds,NaN
15,NSW,Formulas,By year cumulative,Year 12 Adv,Indices,NaN
16,NSW,Formulas,By year cumulative,Year 12 Adv,Logarithms,NaN
17,NSW,Formulas,By year cumulative,Year 12 Adv,Statistics,NaN
18,NSW,Formulas,By year cumulative,Year 12 Adv,Differentiation,NaN
19,NSW,Formulas,By year cumulative,Year 12 Adv,Integration,NaN
20,NSW,Formulas,By year cumulative,Year 12 Adv,Summaries,Calculus
21,NSW,Formulas,By year cumulative,Year 12 Ext 1,Surds,NaN
22,NSW,Formulas,By year cumulative,Year 12 Ext 1,Indices,NaN
23,NSW,Formulas,By year cumulative,Year 12 Ext 1,Logarithms,NaN
24,NSW,Formulas,By year cumulative,Year 12 Ext 1,Statistics,NaN
25,NSW,Formulas,By year cumulative,Year 12 Ext 1,Differentiation,NaN
26,NSW,Formulas,By year cumulative,Year 12 Ext 1,Integration,NaN
27,NSW,Formulas,By year cumulative,Year 12 Ext 1,Summaries,Calculus

In [12]:
my_formulas._formula_data

,State,Subject,Syllabus topic,Syllabus subtopic code,Syllabus subtopic,Category,Subcategory_1,Subcategory_2,Description,Group,Formula,On formula sheet,Proof required,Comment
0,NSW,Year 9,TBA,TBA,TBA,Indices,Index Laws,NaN,Multiplying terms with same base,NaN,$a^m \times a^n = a^{m+n}$,True,False,NaN
1,NSW,Year 9,TBA,TBA,TBA,Indices,Index Laws,NaN,Dividing terms with same base,NaN,$a^m \div a^n = \dfrac{a^m}{a^n} = a^{m-n}$,True,False,NaN
2,NSW,Year 9,TBA,TBA,TBA,Indices,Index Laws,NaN,Power of a power,NaN,$(a^m)^n = a^{m \times n}$,True,False,NaN
3,NSW,Year 9,TBA,TBA,TBA,Indices,Index Laws,NaN,Powers of products,NaN,$(ab)^n = a^nb^n$,True,False,NaN
4,NSW,Year 9,TBA,TBA,TBA,Indices,Index Laws,NaN,Powers of quotients,NaN,$\left(\dfrac{a}{b}\right)^n = \dfrac{a^n}{b^n}$,True,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,NSW,Year 12 Adv,Financial Mathematics,MA-M1,Modelling Financial Situations,Financial mathematics,Arithmetic sequence,Sum of first n terms,Sum of the first n terms of an arithmetic sequ...,NaN,$S_n = \dfrac{n}{2}[2a + (n-1)d] = \dfrac{n}{2...,True,True,NaN
68,NSW,Year 12 Adv,Financial Mathematics,MA-M1,Modelling Financial Situations,Financial mathematics,Geometric sequence,Recursive definition,Recursive definition of a geometric sequence,NaN,$T_n = rT_{n-1}$,True,False,NaN
69,NSW,Year 12 Adv,Financial Mathematics,MA-M1,Modelling Financial Situations,Financial mathematics,Geometric sequence,n-th term,n-th term of a geometric sequence,NaN,$T_n = ar^{n-1}$,True,True,NaN
70,NSW,Year 12 Adv,Financial Mathematics,MA-M1,Modelling Financial Situations,Financial mathematics,Geometric sequence,Sum of first n terms,Sum of the first n terms of a geometric sequence,NaN,$S_n = \dfrac{a(1-r^n)}{1-r} = \dfrac{a(r^n-1)...,True,True,NaN
71,NSW,Year 12 Adv,Financial Mathematics,MA-M1,Modelling Financial Situations,Financial mathematics,Geometric sequence,Limiting sum,Limiting sum of a geometric sequence,NaN,"$S=\dfrac{a}{1-r},\ \ |r|<1$",True,True,NaN

In [2]:
a = my_dirs.truncate_to_path_length(4).unique().reset_sort_index()

display(a.to_dataframe())

b = a.filter_by_path_start(['NSW', 'Topics'])
display(b.to_dataframe())
display(a.to_dataframe())

   Level_0   Level_1             Level_2        Level_3
0      NSW    Topics             By year         Year 9
1      NSW    Topics             By year    Year 11 Adv
2      NSW    Topics             By year    Year 12 Adv
3      NSW    Topics  By year cumulative         Year 9
4      NSW    Topics  By year cumulative    Year 11 Adv
5      NSW    Topics  By year cumulative    Year 12 Adv
6      NSW  Formulas             By year         Year 9
7      NSW  Formulas             By year    Year 12 Adv
8      NSW  Formulas             By year  Year 12 Ext 1
9      NSW  Formulas  By year cumulative    Year 12 Adv
10     NSW  Formulas  By year cumulative  Year 12 Ext 1

  Level_0 Level_1             Level_2      Level_3
0     NSW  Topics             By year       Year 9
1     NSW  Topics             By year  Year 11 Adv
2     NSW  Topics             By year  Year 12 Adv
3     NSW  Topics  By year cumulative       Year 9
4     NSW  Topics  By year cumulative  Year 11 Adv
5     NSW  Topics  By year cumulative  Year 12 Adv

   Level_0   Level_1             Level_2        Level_3
0      NSW    Topics             By year         Year 9
1      NSW    Topics             By year    Year 11 Adv
2      NSW    Topics             By year    Year 12 Adv
3      NSW    Topics  By year cumulative         Year 9
4      NSW    Topics  By year cumulative    Year 11 Adv
5      NSW    Topics  By year cumulative    Year 12 Adv
6      NSW  Formulas             By year         Year 9
7      NSW  Formulas             By year    Year 12 Adv
8      NSW  Formulas             By year  Year 12 Ext 1
9      NSW  Formulas  By year cumulative    Year 12 Adv
10     NSW  Formulas  By year cumulative  Year 12 Ext 1

In [34]:

# Incorporate below in index file creation to make it clearer how levels are 
# iterated.  Can I improve further by creating an iterator.  In the 
# Web page hierarchy class?

dir_levels = school_formulas.by_year_dirs()
current_dir_levels = dir_levels
for column in reversed(dir_levels.columns):
    display(current_dir_levels)
    current_dir_levels = current_dir_levels.drop(columns=column)

   State Formula subcategory 1 Formula subcategory 2        Subject
0    NSW              Formulas               By Year         Year 9
9    NSW              Formulas               By Year    Year 11 Adv
21   NSW              Formulas               By Year    Year 12 Adv
42   NSW              Formulas               By Year  Year 12 Ext 1

   State Formula subcategory 1 Formula subcategory 2
0    NSW              Formulas               By Year
9    NSW              Formulas               By Year
21   NSW              Formulas               By Year
42   NSW              Formulas               By Year

   State Formula subcategory 1
0    NSW              Formulas
9    NSW              Formulas
21   NSW              Formulas
42   NSW              Formulas

   State
0    NSW
9    NSW
21   NSW
42   NSW

In [7]:
def create_index_files(base_dir, dir_levels,site_hierarchies,  
                       front_matter=None):
    """Creates _index.md files recursively at each level of the directory
    structures formed by joining base_dir string and each element of 
    dir_levels.  The content of each file is set based  on the content
    of the front_matter dictionary and optionally includes a weight
    (sort order) as stored in site_hierarhcies.

    Args:
        base_dir (string): The base direcory that together with dir_levels
            represent the directories where the _index files
            are created
        dir_levels (dataframe): The various directory levels that are joined
            to base_dir
        site_hierarchies (WebPageHierarhies): Object storing the web page 
            hierarchies and sort order
                        
        front_matter (dictionary, optional): Optional front matter text to be
            stored in the _index.md files.
            Defaults to None.
    """ 
    if front_matter is None:
        front_matter = {}
    for i in range(1, len(dir_levels.columns)+1):
        # Looping through various levels in directory structure
        subdirs_df = dir_levels.iloc[:, :i].drop_duplicates()
        for _, row in subdirs_df.iterrows():
            file_name = (base_dir + os.path.sep +
                         os.path.sep.join(row) + os.path.sep + '_index.md')
            if not os.path.isfile(file_name):
                # Don't overwrite file if it exists
                # Use a copy on each loop to start fresh and not
                # carry over any details from previos loop
                front_matter_to_write = front_matter.copy()
                if sort_orders_df is not None:
                    sort_order = lookup_list_in_df(
                        sort_orders_df, list(row.values))
                    if sort_order is not None:
                        front_matter_to_write['weight'] = sort_order + 1
                string_to_write = get_front_matter_string(
                    front_matter_to_write)
                with open(file_name, "w", encoding="utf-8") as text_file:
                    text_file.write(string_to_write)

1