In [49]:
import pandas as pd
import numpy as np
import os
import shutil
from IPython.display import Markdown, clear_output


def get_docs_path():
    """Returns the docs directory used to generate hugo webiste content.  The directory 
    path is determined by relative reference to the file containing this code"""
    return(os.path.join(os.path.dirname(os.getcwd()), 'content', 'docs'))

           
def delete_directory_if_it_exists(dir_to_delete):
    """Deletes directory dir_to_delete and its contents if it exists"""
    if os.path.isdir(dir_to_delete):
        shutil.rmtree(dir_to_delete)
    

def create_formula_directories(docs_dir, sub_paths):
    """Creates 2 directories under docs directory namely 'formulas by year'
    and 'formulas cumulative'.  Under each of these directories create subdirectories for each item in
    sub_paths where sub_paths is a numpy array containing different levels of directory path"""

    formulas_by_year_path = docs_dir + os.path.sep + 'formulas by year'
    formulas_cumulative_path = docs_dir + os.path.sep + 'formulas cumulative'
    for path in sub_paths:
        os.makedirs(formulas_by_year_path + os.path.sep + os.path.sep.join(path))
        os.makedirs(formulas_cumulative_path + os.path.sep + os.path.sep.join(path))

    
def create_formula_index_files(docs_dir):
    """Creates _index.md files in relevant folder under root_dir to manage nested website menu """
    
    formulas_by_year_path = docs_dir + os.path.sep + 'formulas by year'
    formulas_cumulative_path = docs_dir + os.path.sep + 'formulas cumulative'
    
    with open(formulas_by_year_path + os.path.sep + '_index.md', "w") as text_file:
        text_file.write("---\nbookCollapseSection: true\n---\n\n" +
                       "This section of the website includes current year / course formulas only.")

    with open(formulas_cumulative_path + os.path.sep + '_index.md', "w") as text_file:
        text_file.write("---\nbookCollapseSection: true\n---\n\n" +
                       "This section of the website includes both formulas covered in current and previous years \ courses")

    for root,dirs,files in os.walk(formulas_by_year_path):
        #Exclude formulas_by_year_path as index file is already created above
        if root != formulas_by_year_path:
            with open(root + os.path.sep + '_index.md', "w") as text_file:
                text_file.write("---\nbookCollapseSection: true\n---")

    for root,dirs,files in os.walk(formulas_cumulative_path):
        #Exclude formulas_cumulative_path as index file is already created above
        if root!=formulas_cumulative_path:
            with open(root + os.path.sep + '_index.md', "w") as text_file:
                text_file.write("---\nbookCollapseSection: true\n---")


def create_formula_files(docs_dir, df_formulas):
    """Creates formula files in markdown format.  Files are created per state / subject  / category
    combination and stored in folders under docs_path according to this same combination"""

    formula_combination = df_formulas[['State', 'Subject code', 'Category']].drop_duplicates()

    for index, row in formula_combination.iterrows():
        formula_set_df = formulas_by_state_subject_category_df(df_formulas, row['State'], row['Subject code'], row['Category'])
        formula_set_styler = df_to_formula_styled_table(df=formula_set_df,col_widths={'Formula_1':300, 'Formula_2':400},
                                                        display_col_headers = False)
        output_string =  '#  \n<br>\n' + formula_set_styler.to_html()
        file_name = docs_dir + os.path.sep +'formulas by year' \
            + os.path.sep  + row['State'] \
            + os.path.sep  + str(row['Subject code']) \
            + os.path.sep  + row['Category']  + '.md'
        with open(file_name, "w") as text_file:
            text_file.write(output_string)


def formulas_by_state_subject_category_df(df_formulas, state, subject_code, category):
    """returns all formulas for given state, subject and category, returns formula_1 column and formula_2 column if not empty
    The return value is a pandas dataframe"""

    df_filtered =  df_formulas[
        (df_formulas['State'] == state) &
        (df_formulas['Subject code'] == str(subject_code)) & 
        (df_formulas['Category'] == category)]   
    formula_2_col_is_empty = df_filtered['Formula_2'].dropna().empty
    
    if formula_2_col_is_empty:
        df_filtered = df_filtered[['Formula_1']]
    else:
        df_filtered = df_filtered[['Formula_1', 'Formula_2']]

    return (df_filtered)
        



def calculus_summary(df_formulas):
    """Returns a summary of derivative and integral formulasas a pandas dataframe"""
    
    df_calculus = df_formulas[['Category', 'Group', 'Formula_1', 'Formula_2', 'Comment']][df_formulas["Category"].isin(["Differentiation","Integration"])]
    df_calculus = df_calculus.pivot(columns='Category', index = 'Group').fillna('')
    
    # Flatten the multi-index headings after pivot
    df_calculus.columns = df_calculus.columns.get_level_values(0) +' ' + df_calculus.columns.get_level_values(1)
    df_calculus = df_calculus.reset_index()

    df_calculus['Comment'] = df_calculus.apply(_calclus_summary_comment, axis=1)
    
    df_calculus = df_calculus.sort_values(by='Group')
    df_calculus =  df_calculus.drop(labels = ['Group', 'Comment Differentiation', 'Comment Integration', 'Formula_2 Integration'], axis = 1)
    df_calculus = df_calculus.rename(columns={
        "Formula_1 Differentiation": "Function", 
        "Formula_1 Integration":"Equivalent integral",
        "Formula_2 Differentiation": "Derivative"})

    # Reorder columns
    df_calculus = df_calculus[['Function', 'Derivative', 'Equivalent integral', 'Comment']]

    return(df_calculus)

    
#     my_table = df_calculus.style
#     my_table = set_styled_table_widths(my_table, {'Function': 200, 
#                                                         'Derivative': 300,
#                                                         'Equivalent integral': 400,
#                                                         'Comment':600})
#     my_table = set_styled_formula_table(my_table)
#     if highlight_items_on_formula_sheet:
#         my_table = apply_formating_to_values_on_formula_sheet(df_formulas, my_table, ['Derivative', 'Equivalent integral'])
        
#     # Hide the index
#     my_table = my_table.hide()
    
#     return(my_table)


def _calclus_summary_comment(row):
    """Returns a comment for calculus formula summary based on derivative and integral comments"""
    if row['Comment Differentiation'] == row['Comment Integration']:
        return_value = row['Comment Differentiation']
    elif row['Comment Differentiation'] == '':
        return_value = row['Comment Integration']
    elif row['Comment Integration'] == '':
        return_value = row['Comment Differentiation']            
    else:
        return_value = row['Comment Differentiation'] + '\n' + row['Comment Integration']
    return(return_value)


def set_styled_table_widths(styled_table, widths):
    """Sets pandas dataframe stlyle column withs where widths is represents a dict of column names and widths in pixels as integers
    Ignores column names that do not exist.  Purpously does not generate an error to allow the function to be called for a 
    broader set of column names without requiring a check in the calling sub"""
    return_table = styled_table
    for column_name, width in widths.items():
        if column_name in styled_table.columns:
            return_table = return_table.set_properties(subset=[column_name], **{'width': str(width) + 'px'})
    return(return_table)


def df_to_formula_styled_table(df, col_widths={}, cols_to_highlight_if_on_formula_sheet=[], display_col_headers = True):
    """Converts pandas dataframe to a styler and applies various formatting"""

    styled_table = df.fillna('').style
    styled_table = set_styled_table_widths(styled_table, col_widths)

    if not display_col_headers:
        styled_table = styled_table.hide().hide(axis='columns')

    for col in cols_to_highlight_if_on_formula_sheet:
        styled_table = styled_table.applymap(is_on_formula_sheet_formatting, subset=[col], df_formulas=df) 
    
    styled_table = styled_table.set_table_styles ([
        {'selector': 'th.col_heading', 'props': 'text-align: left; font-size:1em;'},
        {'selector': 'td', 'props': 'text-align: left; font-size:1em;padding: 1.5em;'}]) 

    # below allows newlines in the csv, outside of the latex dollar signs to be reflected on display
    styled_table= styled_table.set_properties(**{'white-space': 'pre-wrap'})
    
    return (styled_table)


def is_on_formula_sheet(formula, df_formulas):
    """Returns true if formula is listed on formula sheet as per logic below"""
    formulas_one_on_sheet = df_formulas[df_formulas['On formula sheet'] == True]['Formula_1'].values
    formulas_two_on_sheet = df_formulas[df_formulas['On formula sheet'] == True]['Formula_2'].values
    formulas_all_on_sheet = np.vstack((formulas_one_on_sheet, formulas_two_on_sheet))
    return(formula in formulas_all_on_sheet)


def is_on_formula_sheet_formatting(formula, df_formulas):
    """Returns formatting for pandas styler object based on the return value of 
    fucntion is_on_formula_sheet for the given formula paramater"""
    if is_on_formula_sheet(formula, df_formulas):
        return ('background-color:rgba(255,194,10, 0.2);')
    else:
        return (None)

def apply_formating_to_values_on_formula_sheet(df_formulas, styled_table, columns_to_format):
    """applys formattign to columsn_to_format based using function _is_on_formula_sheet_formatting"""
    styled_table = styled_table.applymap(is_on_formula_sheet_formatting, subset=columns_to_format, df_formulas=df_formulas) 
    return(styled_table)


if __name__ == '__main__':
    
    # Latex string in csv needs to be enclosed a single $ to enable left align
    df_formulas =  pd.read_csv(filepath_or_buffer='formulas.csv')
    
    # docs_dir = get_docs_path()
    # delete_directory_if_it_exists(docs_dir)
    # formula_paths = df_formulas[['State', 'Subject code']].drop_duplicates().to_numpy(dtype = str)
    # create_formula_directories(docs_dir, formula_paths)
    # create_formula_index_files(docs_dir)
    # create_formula_files(docs_dir, df_formulas)
    
    cs= calculus_summary(df_formulas)
    display(df_to_formula_styled_table(df=cs, 
                                       col_widths={'Function': 200, 'Derivative': 300,'Equivalent integral': 400,'Comment':600},
                                       cols_to_highlight_if_on_formula_sheet= {'Derivative', 'Equivalent integral'}))

KeyError: 'On formula sheet'

In [21]:
# for key in df_formulas.style.css:
#     print (key + " : " + df_formulas.style.css[key])

'ID' in df_formulas.style.columns

my_table = df_formulas.style
a = set_styled_table_widths(my_table, {'ID +':50, 'State':500})
display(a)