In [1]:
import formulas
import utilities
import pandas as pd
import os
import re


if __name__ == '__main__':

    website_creator_dir = os.getcwd()
    docs_dir = utilities.get_docs_path(website_creator_dir)
    formula_file_path = website_creator_dir + os.path.sep + 'formulas.csv'
    order_file_path = website_creator_dir + os.path.sep + 'sort_orders.csv'

    formulas_input_df = pd.read_csv(formula_file_path)
    sort_orders_df = pd.read_csv(order_file_path)
    formulas_df = formulas.get_formulas_df(formulas_input_df, sort_orders_df)
    formula_sheet_list = (
        formulas.get_formulas_on_formula_sheet(formulas_input_df))
    
    utilities.delete_directory_if_it_exists(docs_dir)
    formulas.create_formulas_content(formulas_df, formula_sheet_list, 
                            sort_orders_df, docs_dir)
    formulas.create_calculus_summary(formulas_df, formula_sheet_list, 
                            sort_orders_df, docs_dir)
    formulas.create_financial_summary(formulas_df, formula_sheet_list, 
                            sort_orders_df, docs_dir)

In [3]:
import os
import formulas
import utilities
import pandas as pd
import topics





if __name__=='__main__':
    website_creator_dir = os.getcwd()
    docs_dir = utilities.get_docs_path(website_creator_dir)
    order_file_path = website_creator_dir + os.path.sep + 'sort_orders.csv'
    
    sort_orders_df = pd.read_csv(order_file_path)
    by_year = topics.get_topics_by_year_df(sort_orders_df)
    cumulative = topics.get_topics_cumulative_df(sort_orders_df)
    display(by_year)
    display(cumulative)

,State,Topic sub category 1,Topic sub category 2,Subject code,Topic
39,NSW,Topics,By year,Year 9,Indices
40,NSW,Topics,By year,Year 11 Adv,Calculus
41,NSW,Topics,By year,Year 12 Adv,Financial mathematics
42,NSW,Topics,By year,Year 12 Adv,Calculus

,State,Topic sub category 1,Topic sub category 2,Subject code,Topic
43,NSW,Topics,By year cumulative,Year 9,Indices
46,NSW,Topics,By year cumulative,Year 11 Adv,Indices
47,NSW,Topics,By year cumulative,Year 11 Adv,Calculus
48,NSW,Topics,By year cumulative,Year 12 Adv,Indices
49,NSW,Topics,By year cumulative,Year 12 Adv,Financial mathematics
50,NSW,Topics,By year cumulative,Year 12 Adv,Calculus