In [2]:
import formulas
import storage
import pandas as pd
import os
import re



if __name__ == '__main__':

    website_creator_path = os.getcwd()
    formula_file_path = website_creator_path + os.path.sep + 'formulas.csv' 
    order_file_path = website_creator_path + os.path.sep + 'sort_orders.csv'
    docs_dir = storage.get_docs_path(website_creator_path)
    
    df_formulas_by_year =  (
        formulas.get_formulas_by_year_df(formula_file_path))
    sort_orders = pd.read_csv(order_file_path)
    
    storage.delete_directory_if_it_exists(docs_dir)

    # Create formula by year summary
    formula_by_year_directories_df = (
        df_formulas_by_year[['State', 'Sub category 1', 'Sub category 2',
                             'Subject code']].drop_duplicates())
    storage.create_sub_directories_from_df(
        docs_dir, formula_by_year_directories_df)
    regex_id_for_formula_dirs = '.*' + os.path.sep + 'Formulas*'
    storage.create_index_files(base_dir=docs_dir, 
                               folder_regex=regex_id_for_formula_dirs, 
                               book_collapse=True, 
                               df_sort_orders=sort_orders)
    formulas.create_formula_files(docs_dir, df_formulas_by_year)


    # Create index files for State level menus
    regex_id_for_state_dirs =os.path.sep + '.{3}$'
    storage.create_index_files(base_dir=docs_dir, 
                               folder_regex=regex_id_for_state_dirs,
                               book_collapse=True, 
                               df_sort_orders=sort_orders)

    # df_calculus = formulas.df_calculus_summary(df_formulas_by_year)
    # styler_calculus = formulas.styler_calculus_summary(
    #     df_calculus, formulas.formulas_on_formula_sheet(df_formulas_by_year))
    # display(styler_calculus)

In [12]:
def lookup_list_in_df(df, list_to_find):
    """Looks up list_to find in each row of a modified version pandas dataframe
    df and returns the first index where a match is found.
    df is modified as follows before the lokup above is perforemed:
        -  list_len = len(list_to_find)
        - filtered on column number list_len == null and 
          column number list-len - 1 != null
        - restrict df to  the first list_len number of columns
        - the index is reset after the filter
    """
    
    list_len = len(list_to_find)
    if list_len > len(df.columns):
        return (None)
    elif list_len == len(df.columns):
        df = df[df.iloc[:,list_len-1].notnull()]
    else:
        df = df[(
            (df.iloc[:,list_len].isnull()) &
            (df.iloc[:,list_len-1].notnull())
        )].iloc[:, :list_len]
    df = df.reset_index(drop = True)
    
    for i in range(len(list_to_find)):
        df = df[(df.iloc[:, i].str.upper() == 
                           str(list_to_find[i]).upper())]
    filtered_index = df.index
    
    if len(filtered_index) == 0:
        return (None)
    else:
        return (filtered_index[0])

                
list_to_find = ['QLD']
# list_to_find = ['NSW', "FORMULAS", "By Year Cumulative"]
display(lookup_list_in_df(sort_orders, list_to_find))

3

In [15]:
sort_orders

   Level_0   Level_1             Level_2        Level_3  Level_4  Level_5
0      ACT       NaN                 NaN            NaN      NaN      NaN
1      NSW       NaN                 NaN            NaN      NaN      NaN
2       NT       NaN                 NaN            NaN      NaN      NaN
3      QLD       NaN                 NaN            NaN      NaN      NaN
4       SA       NaN                 NaN            NaN      NaN      NaN
5      VIC       NaN                 NaN            NaN      NaN      NaN
6       WA       NaN                 NaN            NaN      NaN      NaN
7      NSW  Formulas                 NaN            NaN      NaN      NaN
8      NSW  Formulas             By year            NaN      NaN      NaN
9      NSW  Formulas  By year cumulative            NaN      NaN      NaN
10     NSW  Formulas             By year         Year 9      NaN      NaN
11     NSW  Formulas             By year    Year 11 Adv      NaN      NaN
12     NSW  Formulas             By year    Year 12 Adv      NaN      NaN
13     NSW  Formulas             By year  Year 12 Ext 1      NaN      NaN

In [145]:
list_to_find = [1,2,3]
list_len = len(list_to_find)
df = sort_orders

df[(
    (df.iloc[:,list_len].isnull()) &
    (df.iloc[:,list_len-1].notnull())
)].iloc[:, :list_len]

  Level_0   Level_1             Level_2
8     NSW  Formulas             By year
9     NSW  Formulas  By year cumulative

In [7]:
fname = '/home/charl/Onedrive/Documents_Charl/Computer_Technical/Programming_GitHub/AustralianSchoolMaths/content/docs/NSW/Formulas/By Year/Year 11 Adv/Logarithms.md'

line = 'ABCD'
with open(fname, 'r+') as file: 
 file_data = file.read() 
 file.seek(0, 0) 
 file.write(line + '\n' + file_data)

In [65]:
'seek'.upper()

'SEEK'